name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  merge_group:
    branches: [ "main" ]

permissions: read-all

env:
  # The following renovate target exists only to trigger a rebuild when a new k8s is
  # released. The versions job will determine actual kubectl versions.
  # renovate: datasource=github-tags depName=kubectl lookupName=kubernetes/kubernetes
  LATEST_K8S_VERSION: v1.34.1
  LATEST_MINORS: 3

jobs:
  versions:
    runs-on: ubuntu-24.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: Fetch Kubernetes Versions for Build
      id: versions
      run: |
        versions="$(curl -s https://api.github.com/repos/kubernetes/kubernetes/releases | jq -c '[.[] | select(.prerelease == false) | .tag_name] | group_by(split(".") | [.[0,1]]) | reverse | map(.[0])[:${{ env.LATEST_MINORS }}]')"
        echo "versions=${versions}" >>"${GITHUB_OUTPUT}"

    outputs:
      versions: ${{ steps.versions.outputs.versions }}

  build:
    needs: [ versions ]
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      packages: write
      attestations: write
    strategy:
      fail-fast: false
      matrix:
        k8s_version: ${{ fromJSON(needs.versions.outputs.versions) }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

    - name: Remove Version Prefix
      id: version
      env:
        VERSION: ${{ matrix.k8s_version }}
      run: echo "k8s=${VERSION#v}" >>"${GITHUB_OUTPUT}"

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5
      with:
        images: |
          ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
        tags: |
          type=ref,event=pr,prefix=${{ steps.version.outputs.k8s }}-pr.
          type=raw,value=${{ steps.version.outputs.k8s }},enable={{is_default_branch}}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      id: push
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
      with:
        context: .
        push: true
        platforms: linux/amd64,linux/arm64
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        build-args: KUBECTL_VERSION=${{ matrix.k8s_version }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3
      with:
        subject-name: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
        subject-digest: ${{ steps.push.outputs.digest }}
        push-to-registry: true

  final:
    needs: [ build ]
    runs-on: ubuntu-24.04
    steps:
    - run: echo "Done"
