name: GHCR Maintenance

on:
  schedule:
  - cron: '30 1 * * *'
  push:
    branches: [ '181-remove-old-images' ]
  workflow_dispatch:

# Declare default permissions as read-only.
permissions: read-all

jobs:
  cleanup:
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: Cleanup Untagged Images
      uses: dataaxiom/ghcr-cleanup-action@cd0cdb900b5dbf3a6f2cc869f0dbb0b8211f50c4 # v1.0.16
      with:
        delete-untagged: true
        delete-ghost-images: true
        delete-partial-images: true
        delete-orphaned-images: true

    - name: Cleanup >7d Old Images
      uses: dataaxiom/ghcr-cleanup-action@cd0cdb900b5dbf3a6f2cc869f0dbb0b8211f50c4 # v1.0.16
      with:
        use-regex: true
        exclude-tags: '^\d+.\d+.\d+$'
        delete-tags: '.*'
        older-than: 7 days
        dry-run: true
